body {
	background-image: url("logo.png");
	background-position: 80% 20%;
	background-repeat: repeat-y;
	background-size: 50px;
    margin-left: 2em;
    margin-right: 2em;
}

.title2 {
    background: linear-gradient(to right, green 50%, yellow 50%);
    width: 100%;
    border-radius: 2em;
    left: 0;
}


.title {
	background: rgb(96, 25, 25);
    color: white;
    text-align: center;

    padding: 2em;
    border-radius: 1em;
    margin: 1em;
    margin-bottom: 2em;
}

.par {
    background-color: rgb(217, 166, 143);
     padding-left: 2em;
     padding-right: 2em;
     padding-top: 2em;
     padding-bottom: 2em;
     margin-bottom: 5%;
     
}

#par img{
    float: left;
    width: 5em;
    margin-right: 0.5em;
}

.banner {
    position: fixed; 
    top: 50%;
    left: 0;
    right: 0;
    background: rgba(219, 54, 79, 0.5);
    height: 3em;
}

.banner-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

.button{
    background-color: black;
    color: red;
    border: solid white 0.05em;
    font-size: 102%;
    cursor: pointer;
    font-weight: bold;
}


a:link {
    color: green;
    text-decoration: none;
}

.hr1 {
    border: none; 
    border-bottom: 20px dashed red; 
    margin-bottom: -1em; 
    border-spacing: 1em;
}

.hr2 {
    border: none; 
    border-bottom: 20px dashed red; 
    margin-top: -1em; 
    border-spacing: 10em;
}

.footer-banner {
    font-size: 80%;
    bottom: 0;
    padding: 10px;
    margin-left: 5em;
  }


.table1 {
    border-collapse: collapse;
    border-width: 1px;
  border-style: solid; 
  border-color: #000;
}
.table1 th {
    border: 1px solid black;
  }
  
.table1  td {
    border: 1px solid black; 
  }

.table1 td[rowspan],
.table1 td:last-child {
    background: green;
}
.table1 td:nth-child(3) {
    background: red;
}

.formfield label:after {
	content:  "|";
	float: right;
    margin-right: 2em;
}

.formfield label {
	display: inline-block;
	width: 10em;
	overflow: hidden;
}

.err_password{
    background-color: rgb(185, 96, 96);
    empty-cells: hide;
}



