body {
	//background-image: url("logo.png");
	background-position: 20% 80%;
	background-repeat: repeat-x;
	background-size: 50px;
    margin-left: 2em;
    margin-right: 2em;
}

.title {
	background: darkblue;
    color: white;
    text-align: center;

    padding: 2em;
    border-radius: 2em;
    margin: 2em;

    background-image:
    linear-gradient(green, green),
    linear-gradient(yellow, yellow);
    background-repeat: repeat-y;
    background-size: 1em 50px;
    background-position: 
     left,
     right;
}

.par {
    background-color: skyblue;
    border: dotted red;
    border-radius: 2em;
     padding-left: 2em;
     padding-right: 2em;
     padding-top: 2em;
     padding-bottom: 2em;
     margin-bottom: 5%;
     
}

#par img{
    float: left;
    width: 5em;
    margin-right: 0.5em;
}

.banner {
    position: fixed; 
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(219, 54, 79, 0.5);
    color: rgb(135, 129, 129);
}

.button{
    background-color: grey;
    color: pink;
    border: solid white 0.1em;
    cursor: pointer;
}


a:link {
    color: green;
    text-decoration: none;
}

hr {
    color: red;
    border: 0.5em dashed;

}

.table1 {
    border: none;
}

.table1 td[rowspan],
.table1 td:last-child {
    background: green;
}
.table1 td:nth-child(3) {
    background: red;
}

.formfield label:after {
	content:  "|";
	float: right;
    margin-right: 2em;
}

.formfield label {
	display: inline-block;
	width: 10em;
	overflow: hidden;
}

.err_password{
    background-color: rgb(185, 96, 96);
}







